In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import our data into pandas from CSV

postcode_data_path = 'data/postcode-data.csv'

postcode_df = pd.read_csv(postcode_data_path, low_memory=False)

postcode_df

                               Suburb        State  Postcode
0      AUSTRALIAN NATIONAL UNIVERSITY          ACT     200.0
1                              DARWIN           NT     800.0
2                              DARWIN           NT     801.0
3                               PARAP           NT     804.0
4                               ALAWA           NT     810.0
...                               ...          ...       ...
15663                       DOCKLANDS          VIC    8012.0
15664                   GOLD COAST MC          QLD    9726.0
15665                     4000ΓÇô5550          NaN       NaN
15666                   W1998ΓÇôW2109          NaN       NaN
15667                               &  5585ΓÇô5831       NaN

[15668 rows x 3 columns]

In [3]:
postcode_df= postcode_df.dropna()
postcode_df

                               Suburb State  Postcode
0      AUSTRALIAN NATIONAL UNIVERSITY   ACT     200.0
1                              DARWIN    NT     800.0
2                              DARWIN    NT     801.0
3                               PARAP    NT     804.0
4                               ALAWA    NT     810.0
...                               ...   ...       ...
15660                   FLINDERS LANE   VIC    8009.0
15661                      LAW COURTS   VIC    8010.0
15662          LITTLE LONSDALE STREET   VIC    8011.0
15663                       DOCKLANDS   VIC    8012.0
15664                   GOLD COAST MC   QLD    9726.0

[15665 rows x 3 columns]

In [4]:
postcode_df.dtypes

Suburb       object
State        object
Postcode    float64
dtype: object

In [5]:
postcode_df = postcode_df.groupby('Postcode').agg(Suburb = pd.NamedAgg(column='Suburb',aggfunc ='first'),
                                                 State = pd.NamedAgg(column='State',aggfunc ='first'))
postcode_df

                                  Suburb State
Postcode
200.0     AUSTRALIAN NATIONAL UNIVERSITY   ACT
800.0                             DARWIN    NT
801.0                             DARWIN    NT
804.0                              PARAP    NT
810.0                              ALAWA    NT
...                                  ...   ...
8009.0                     FLINDERS LANE   VIC
8010.0                        LAW COURTS   VIC
8011.0            LITTLE LONSDALE STREET   VIC
8012.0                         DOCKLANDS   VIC
9726.0                     GOLD COAST MC   QLD

[2898 rows x 2 columns]

In [6]:
# Import our data into pandas from CSV
SGU_data_path = 'data/SGU-SolarPanel.csv'
SGU_df = pd.read_csv(SGU_data_path, low_memory=False)
SGU_df.head()

,Small Generation Unit (SGU) - Solar Panel (Deemed),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,Please be aware that RET legislation allows a ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data as at 31/05/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Small Unit Installation Postcode,Previous Years (2001-2019) - Installations Qua...,Previous Years (2001-2019) - SGU Rated Output ...,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,Mar 2020 - SGU Rated Output In kW,Apr 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
3,0000,4,4.460,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,4.46
4,0200,1,0.080,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.08

In [7]:
SGU_df = pd.DataFrame(SGU_df.values[2:])
SGU_df

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,Small Unit Installation Postcode,Previous Years (2001-2019) - Installations Qua...,Previous Years (2001-2019) - SGU Rated Output ...,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,Mar 2020 - SGU Rated Output In kW,Apr 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
1,0000,4,4.460,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,4.46
2,0200,1,0.080,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.08
3,0800,95,"2,021.050",1,26.460,1,9.100,0,0.000,0,...,1.000,35.200,1.000,6.630,1.000,6.660,0,0.000,109,2595.58
4,0801,7,134.868,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,8,234.858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7469,35,125.445,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,2.000,13.320,0.000,0.000,0,0.000,37,138.765
2799,7470,35,146.477,0,0.000,2,13.000,0,0.000,1,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,43,193.257
2800,7802,1,2.450,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,2.45
2801,8576,2,6.840,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,6.84
2802,9729,1,0.875,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.875

In [8]:
# Set the column labels to equal the values in the fisrt row
SGU_df.columns = SGU_df.iloc[0]
SGU_df

,Small Unit Installation Postcode,Previous Years (2001-2019) - Installations Quantity,Previous Years (2001-2019) - SGU Rated Output In kW,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,Mar 2020 - SGU Rated Output In kW,Apr 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
0,Small Unit Installation Postcode,Previous Years (2001-2019) - Installations Qua...,Previous Years (2001-2019) - SGU Rated Output ...,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,Mar 2020 - SGU Rated Output In kW,Apr 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
1,0000,4,4.460,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,4.46
2,0200,1,0.080,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.08
3,0800,95,"2,021.050",1,26.460,1,9.100,0,0.000,0,...,1.000,35.200,1.000,6.630,1.000,6.660,0,0.000,109,2595.58
4,0801,7,134.868,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,8,234.858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7469,35,125.445,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,2.000,13.320,0.000,0.000,0,0.000,37,138.765
2799,7470,35,146.477,0,0.000,2,13.000,0,0.000,1,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,43,193.257
2800,7802,1,2.450,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,2.45
2801,8576,2,6.840,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,6.84
2802,9729,1,0.875,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.875

In [9]:
#  drop the first row
SGU_df = SGU_df.drop(SGU_df.index[0])
SGU_df

,Small Unit Installation Postcode,Previous Years (2001-2019) - Installations Quantity,Previous Years (2001-2019) - SGU Rated Output In kW,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,Mar 2020 - SGU Rated Output In kW,Apr 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
1,0000,4,4.460,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,4.46
2,0200,1,0.080,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.08
3,0800,95,"2,021.050",1,26.460,1,9.100,0,0.000,0,...,1.000,35.200,1.000,6.630,1.000,6.660,0,0.000,109,2595.58
4,0801,7,134.868,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,8,234.858
5,0803,2,11.685,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,11.685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7469,35,125.445,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,2.000,13.320,0.000,0.000,0,0.000,37,138.765
2799,7470,35,146.477,0,0.000,2,13.000,0,0.000,1,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,43,193.257
2800,7802,1,2.450,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,2.45
2801,8576,2,6.840,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,6.84
2802,9729,1,0.875,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.875

In [10]:
SGU_df = SGU_df.rename (columns ={'Small Unit Installation Postcode' :'Postcode'})
SGU_df

,Postcode,Previous Years (2001-2019) - Installations Quantity,Previous Years (2001-2019) - SGU Rated Output In kW,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,Mar 2020 - SGU Rated Output In kW,Apr 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
1,0000,4,4.460,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,4.46
2,0200,1,0.080,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.08
3,0800,95,"2,021.050",1,26.460,1,9.100,0,0.000,0,...,1.000,35.200,1.000,6.630,1.000,6.660,0,0.000,109,2595.58
4,0801,7,134.868,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,8,234.858
5,0803,2,11.685,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,11.685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7469,35,125.445,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,2.000,13.320,0.000,0.000,0,0.000,37,138.765
2799,7470,35,146.477,0,0.000,2,13.000,0,0.000,1,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,43,193.257
2800,7802,1,2.450,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,2.45
2801,8576,2,6.840,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,6.84
2802,9729,1,0.875,0,0.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.875

In [11]:
SGU_df.dtypes

0
Postcode                                               object
Previous Years (2001-2019) - Installations Quantity    object
Previous Years (2001-2019) - SGU Rated Output In kW    object
Jan 2020 - Installations Quantity                      object
Jan 2020 - SGU Rated Output In kW                      object
Feb 2020 - Installations Quantity                      object
Feb 2020 - SGU Rated Output In kW                      object
Mar 2020 - Installations Quantity                      object
Mar 2020 - SGU Rated Output In kW                      object
Apr 2020 - Installations Quantity                      object
Apr 2020 - SGU Rated Output In kW                      object
May 2020 - Installations Quantity                      object
May 2020 - SGU Rated Output In kW                      object
Jun 2020 - Installations Quantity                      object
Jun 2020 - SGU Rated Output In kW                      object
Jul 2020 - Installations Quantity                      object
Jul 2020 - SGU Rated Output In kW                      object
Aug 2020 - Installations Quantity                      object
Aug 2020 - SGU Rated Output In kW                      object
Sep 2020 - Installations Quantity                      object
Sep 2020 - SGU Rated Output In kW                      object
Oct 2020 - Installations Quantity                      object
Oct 2020 - SGU Rated Output In kW                      object
Nov 2020 - Installations Quantity                      object
Nov 2020 - SGU Rated Output In kW                      object
Dec 2020 - Installations Quantity                      object
Dec 2020 - SGU Rated Output In kW                      object
Jan 2021 - Installations Quantity                      object
Jan 2021 - SGU Rated Output In kW                      object
Feb 2021 - Installations Quantity                      object
Feb 2021 - SGU Rated Output In kW                      object
Mar 2021 - Installations Quantity                      object
Mar 2021 - SGU Rated Output In kW                      object
Apr 2021 - Installations Quantity                      object
Apr 2021 - SGU Rated Output In kW                      object
May 2021 - Installations Quantity                      object
May 2021 - SGU Rated Output In kW                      object
Installations Quantity Total                           object
SGU Rated Output In kW Total                           object
dtype: object

In [12]:
SGU_df['Postcode'] = SGU_df['Postcode'].apply(pd.to_numeric)
SGU_df.dtypes

0
Postcode                                                int64
Previous Years (2001-2019) - Installations Quantity    object
Previous Years (2001-2019) - SGU Rated Output In kW    object
Jan 2020 - Installations Quantity                      object
Jan 2020 - SGU Rated Output In kW                      object
Feb 2020 - Installations Quantity                      object
Feb 2020 - SGU Rated Output In kW                      object
Mar 2020 - Installations Quantity                      object
Mar 2020 - SGU Rated Output In kW                      object
Apr 2020 - Installations Quantity                      object
Apr 2020 - SGU Rated Output In kW                      object
May 2020 - Installations Quantity                      object
May 2020 - SGU Rated Output In kW                      object
Jun 2020 - Installations Quantity                      object
Jun 2020 - SGU Rated Output In kW                      object
Jul 2020 - Installations Quantity                      object
Jul 2020 - SGU Rated Output In kW                      object
Aug 2020 - Installations Quantity                      object
Aug 2020 - SGU Rated Output In kW                      object
Sep 2020 - Installations Quantity                      object
Sep 2020 - SGU Rated Output In kW                      object
Oct 2020 - Installations Quantity                      object
Oct 2020 - SGU Rated Output In kW                      object
Nov 2020 - Installations Quantity                      object
Nov 2020 - SGU Rated Output In kW                      object
Dec 2020 - Installations Quantity                      object
Dec 2020 - SGU Rated Output In kW                      object
Jan 2021 - Installations Quantity                      object
Jan 2021 - SGU Rated Output In kW                      object
Feb 2021 - Installations Quantity                      object
Feb 2021 - SGU Rated Output In kW                      object
Mar 2021 - Installations Quantity                      object
Mar 2021 - SGU Rated Output In kW                      object
Apr 2021 - Installations Quantity                      object
Apr 2021 - SGU Rated Output In kW                      object
May 2021 - Installations Quantity                      object
May 2021 - SGU Rated Output In kW                      object
Installations Quantity Total                           object
SGU Rated Output In kW Total                           object
dtype: object

In [13]:
df = pd.merge(postcode_df,SGU_df,  on = ['Postcode'], how = 'right')
df

,Postcode,Suburb,State,Previous Years (2001-2019) - Installations Quantity,Previous Years (2001-2019) - SGU Rated Output In kW,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
0,0.0,NaN,NaN,4,4.460,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,4.46
1,200.0,AUSTRALIAN NATIONAL UNIVERSITY,ACT,1,0.080,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.08
2,800.0,DARWIN,NT,95,"2,021.050",1,26.460,1,9.100,0,...,1.000,35.200,1.000,6.630,1.000,6.660,0,0.000,109,2595.58
3,801.0,DARWIN,NT,7,134.868,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,8,234.858
4,803.0,NaN,NaN,2,11.685,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,11.685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,7469.0,GRANVILLE HARBOUR,TAS,35,125.445,0,0.000,0,0.000,0,...,0.000,0.000,2.000,13.320,0.000,0.000,0,0.000,37,138.765
2798,7470.0,ROSEBERY,TAS,35,146.477,0,0.000,2,13.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,43,193.257
2799,7802.0,NaN,NaN,1,2.450,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,2.45
2800,8576.0,NaN,NaN,2,6.840,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,6.84
2801,9729.0,NaN,NaN,1,0.875,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.875

In [14]:
NAN_df = df[df.isna().any(axis=1)]
NAN_df

,Postcode,Suburb,State,Previous Years (2001-2019) - Installations Quantity,Previous Years (2001-2019) - SGU Rated Output In kW,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
0,0.0,NaN,NaN,4,4.460,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,4.46
4,803.0,NaN,NaN,2,11.685,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,11.685
26,841.0,NaN,NaN,54,511.525,0,0.000,2,18.600,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,68,724.58
64,1658.0,NaN,NaN,1,5.040,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,5.04
72,1741.0,NaN,NaN,1,10.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,10
78,1830.0,NaN,NaN,1,6.080,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,6.08
80,1848.0,NaN,NaN,1,1.040,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,1.04
128,2055.0,NaN,NaN,1,2.400,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,2.4
489,2552.0,NaN,NaN,1,0.560,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.56
1479,4062.0,NaN,NaN,1,1.500,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,1.5
1480,4063.0,NaN,NaN,1,1.250,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,1.25
1573,4237.0,NaN,NaN,1,0.920,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.92
1578,4276.0,NaN,NaN,1,3.300,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,3.3
1594,4314.0,NaN,NaN,115,889.500,4,29.290,8,89.880,0,...,6.000,47.865,7.000,49.560,3.000,25.860,4,30.235,201,1630.965
2023,5175.0,NaN,NaN,1,0.300,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.3
2028,5207.0,NaN,NaN,1,0.960,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.96
2092,5312.0,NaN,NaN,1,5.000,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,5
2222,5713.0,NaN,NaN,3,38.880,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,3,38.88
2223,5717.0,NaN,NaN,10,138.900,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,11,150.78
2235,5875.0,NaN,NaN,1,1.160,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,1.16
2249,6013.0,NaN,NaN,1,0.375,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.375
2373,6219.0,NaN,NaN,3,19.830,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,3,19.83
2599,6643.0,NaN,NaN,1,0.960,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.96
2799,7802.0,NaN,NaN,1,2.450,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,2.45
2800,8576.0,NaN,NaN,2,6.840,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,2,6.84
2801,9729.0,NaN,NaN,1,0.875,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.875

In [15]:
final_df = df.dropna()
final_df

,Postcode,Suburb,State,Previous Years (2001-2019) - Installations Quantity,Previous Years (2001-2019) - SGU Rated Output In kW,Jan 2020 - Installations Quantity,Jan 2020 - SGU Rated Output In kW,Feb 2020 - Installations Quantity,Feb 2020 - SGU Rated Output In kW,Mar 2020 - Installations Quantity,...,Feb 2021 - Installations Quantity,Feb 2021 - SGU Rated Output In kW,Mar 2021 - Installations Quantity,Mar 2021 - SGU Rated Output In kW,Apr 2021 - Installations Quantity,Apr 2021 - SGU Rated Output In kW,May 2021 - Installations Quantity,May 2021 - SGU Rated Output In kW,Installations Quantity Total,SGU Rated Output In kW Total
1,200.0,AUSTRALIAN NATIONAL UNIVERSITY,ACT,1,0.080,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,1,0.08
2,800.0,DARWIN,NT,95,"2,021.050",1,26.460,1,9.100,0,...,1.000,35.200,1.000,6.630,1.000,6.660,0,0.000,109,2595.58
3,801.0,DARWIN,NT,7,134.868,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,8,234.858
5,804.0,PARAP,NT,14,68.950,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,15,78.31
6,810.0,ALAWA,NT,"2,670","16,371.491",55,350.845,69,449.660,53,...,16.000,154.735,28.000,198.910,13.000,130.950,12,74.350,3294,21219.346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,7466.0,GORMANSTON,TAS,4,10.380,0,0.000,0,0.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,4,10.38
2795,7467.0,LAKE MARGARET,TAS,68,330.940,0,0.000,0,0.000,0,...,1.000,7.400,0.000,0.000,0.000,0.000,0,0.000,76,386.47
2796,7468.0,MACQUARIE HEADS,TAS,30,177.515,0,0.000,0,0.000,0,...,4.000,27.380,0.000,0.000,0.000,0.000,0,0.000,34,204.895
2797,7469.0,GRANVILLE HARBOUR,TAS,35,125.445,0,0.000,0,0.000,0,...,0.000,0.000,2.000,13.320,0.000,0.000,0,0.000,37,138.765
2798,7470.0,ROSEBERY,TAS,35,146.477,0,0.000,2,13.000,0,...,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,43,193.257